<div
  data-controller="quizz"
  data-quizz-number-of-questions-value="<%= @number_of_questions %>"
  data-quizz-target="quizz" data-question-number="1"
>
  <%= render 'form_quizz', question: @question, counter: 1, monument: @monument %>
</div>
