<div
  data-controller="quizz"
  data-quizz-number-of-questions-value="<%= @number_of_questions %>"
  data-quizz-target="quizz" data-number-of-answered-questions="0"
>
  <%= render 'form_quizz', question: @question %>
</div>
