// Define variables for your color scheme

// For example:
$blue: #98BEFD;
$darkblue: #2b7af9;
$cyan: #C1F1E0;
$lightyellow: #FAE6B1;

$yellow: #FFC65A;
$red: #FD1015;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
