
<div id="map"
  data-controller="direction"
  data-direction-end-value="<%= @coords %>"
  data-direction-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div data-controller="navigation">
    <div class= "retour-content">
      <%= link_to monument_path, class: "retour-brand" do %>
        <%= image_tag "retour.svg", class: "retour-image" %>
      <% end %>
    </div>
  </div>
</div>
<div id="distance-itinerary"></div>
<div id="time-itinerary"> 2Km</div>
