
<%# <div class= "return_btn">
  <%= link_to monument_path(monument) %>
<%# </div> %>
 <div id="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
