<div class="container">
  <div class="profil-card">
    <div class="performance">
      <h2 class="name"><%= @user.first_name %></h1>
      <h4>Level</h4>
        <p>37</p>
      <h4>Bibliothèque</h4>
        <p>37</p>
      <h4>Followers</h4>
        <p>37</p>
    </div>
    <img class="avatar" src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2021/05/06/3127156-64098848-2560-1440.jpg" alt="">
  </div>
  <div class="classement">
    <div class="card-back">
      <h4>71</h2>
        <p>classement</p>
    </div>
    <div class="card-back">
      <h4>71</h2>
        <p>flash</p>
    </div>
    <div class="card-back">
      <h4>71</h2>
        <p>Missed </p>
    </div>
  </div>
  <div>
  <h3> registered</h3>
  </div>
</div>
