<div class="container">
  <div class="profil-card">
    <div class="performance">
      <h2 class="name"><%= @user.first_name %></h1>
      <p>Level</p>
        <h2 class="number">32</h2>
      <p>Bibliothèque</p>
        <h2 class="number">25 monuments</h2>
      <p>Followers</p>
        <h2 class="number">954</h2>
    </div>
    <img class="avatar" src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2021/05/06/3127156-64098848-2560-1440.jpg" alt="">
  </div>
  <div class="classement">
    <div class="card-back">
      <h4 class="number-e">71</h4>
        <p class="title-trophy">classement</p>
    </div>
    <div class="card-back">
      <h4 class="number-e">71</h4>
        <p class="title-trophy">flash</p>
    </div>
    <div class="card-back">
      <h4 class="number-e">71</h4>
        <p class="title-trophy">manquants </p>
    </div>
  </div>
</div>
