<div data-controller="darken-link" >
  <div class= "navbar_container">
    <div class= "navbar-content">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i
          class="fa-solid fa-house fa-xl light-blue"
          data-darken-link-target="link1"
        ></i>
      <% end %>
    </div>

    <div class= "navbar-content">
      <%= link_to my_profil_path, class: "navbar-brand" do %>
        <i
          class="fa-solid fa-chart-simple fa-xl light-blue"
          data-darken-link-target="link2"
        ></i>
      <% end %>
    </div>

    <div class= "navbar-content">
      <%= link_to parameters_path, class: "navbar-brand" do %>
        <i
          class="fa-solid fa-user fa-xl light-blue"
          data-darken-link-target="link3"
        ></i>
      <% end %>
    </div>
  </div>
</div>
