.heart {
  animation: scale .6s ease-in-out forwards;
   color: rgb(238, 52, 52);
  font-size: 2rem;
  position: absolute;
  &.go {
    animation: go .3s ease-in-out forwards;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);

  }
  100% {
    transform: scale(1);
  }
}

@keyframes go {
  100% {
    left: 10px;
    top: 10px;
  }
}
