.name{
  align-items: center;
  font-weight: bold;
}

.classement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin: 12px;
  align-items: center;
  gap: 16px;

  h4 {
    font-family: 'inter';
    font-weight: bold;
    font-size: 20px;
    font-weight: 600;
  }

}

.card-back {
  display: flex;
  align-items: center;
  padding: 12px 6px 12px 6px;
  flex-direction: column;
  border-radius: 50%;
  background: var(--couleur-2, $cyan);
  height: 92px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
  width: 92px;
  justify-content: center;

}

.title-trophy {
  font-weight: bold;
  color: #000;
/* description */
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}

.my-photo-card-picture{
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.linear-background-profile{
  background: linear-gradient(180deg, $darkblue 30%, $blue 90%);
  height: 12vh;
  display: flex;
  justify-content: center;
  position: relative;

  h4{
    display: flex;
    align-items: flex-end;
    position: absolute;
    transform: translate(26%, 380%);
  }
}

.user-infos{
  display: flex;
}

.user-info-profile{
  flex: 1;
  text-align: center;
  margin-right: 16px;

  h4{
    font-weight: bold;
    font-size: 32px;
    color:$blue
    }

  p{
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.user-info-profile:last-child {
  margin-right: 0;
}

.container-user-infos {
  max-width: 800px;
  margin: 0 auto 20px;
  background-color: #fff;
  padding: 68px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
