.profil-card{
  border-radius: 12px;
  display: flex;
  padding: 2rem;
  margin-top: 8px;
  background-image: asset_url('image_4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.name{
align-items: center;
color: white;
}

.avatar{
  margin: 8px;
  width: 150px;
  height: 250px;
  border-radius: 26%;
  align-items: flex-end;
  margin-left: 52px ;
}

.classement {
  display: grid;
  height: 80px;
  grid-template-columns: 1fr 1fr 1fr ;
  margin: 8px;
  align-items: center;
  gap: 4px;
}

.card-back {
  display: flex;
  padding: 19px 15px 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 20px;
  background: var(--couleur-2, #C1F1E0);

}

.title-trophy {
  font-weight: bold;
  color: #000;
/* description */
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;

}

.number {
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.number-e {
  font-family: 'inter';
  font-weight: bold;
  font-size: 32px;
  font-weight: 600;


}
