.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar_container {
  // border-radius: 8px;
  background: var(--c-6, #FEFEFF);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  height: 62px;
  padding: 12px;
  // position: absolute;
  bottom: 0px;
  // left: 10px;
  // right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.logo-image {
  width: 31.168px;
  height: 27.272px;
  flex-shrink: 0;
  margin-right: 10px;
}

.navbar-content {
  height: 28px;
  width: 28px;
}
