
.puzzle-board {
  background-color: $cyan;
  border-radius: 10px;
  padding: 10px;
}

.text-center {
  width: 300px;
}

.hidden-puzzle {
  opacity: 0.2;
  filter: blur(10px);
}

.img_puzz {
  width: 42vh;
}
