
.quizz {
  border-radius: 8px;
  background: var(--couleur-1, $blue);
  margin-left: 10px;
  margin-right: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

.quizz_btn {
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: var(--c-6, #FEFEFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
