
.titre_show {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin: 20px;
  text-align: center;
}

.short_description {
  border-radius: 5px;
  background: var(--c-4, $lightyellow);
  height: auto;
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 35%;
  align-items: center;
  gap: 20px;
}

.long_description {
  border-radius: 5px;
  background: var(--c-4, $lightyellow);
  height: auto;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
}

.map_chemin {
  border-radius: 5px;
  background: var(--couleur-1, $blue);
  height: 125px;
  margin: 20px;
  display: flex;

  .mapboxgl-ctrl-geolocate {
    display: none;
  }
}

.no-decoration {
  text-decoration: none;
}


#map_show {
  width: 100%;
  height: 100%;
}

.chemin {
  color: white;
}

.img_gps {
  width: 80px;
  height: 75%;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 20px;
}

.bulle {
  border-radius: 20px;
  background: var(--c-6, #FEFEFF);
  color: black;
  margin-top: 10px;
  text-align: center;
  width: 12vh;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bulle_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.photo_show {
width: 100%;
height: 250px;
filter: blur(6px);
}


.monument_photo {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.info_type {
  border-radius: 15px;
  background: var(--couleur-1, $blue);
  position: absolute;
  top: 26%;
  left: 30px;
  right: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info {
  margin:10px;
  width: 100px;
  text-align: center;
}

.separator {
  width: 1px;
  height: 48px;
  background-color: white;
  margin: 0 10px;
}

.img_bulle {
  height: auto;
  width: auto;
  padding-right: 10px;
  margin-left: 5px;
  margin-bottom: 4px;
}


.btn_gps {
  background-color: $darkblue;
  border-radius: 21px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  height: 120px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.go {
  color: white;
  text-align: center;
}


  @media screen and (max-width: 390px) {
    #map_show {
      width: 130px;
      height: 100%;
    }

    .info-container {
      padding: 20px;
    }

    .titre_chemin {
      font-size: 18px !important;
      font-weight: bold;
    }

    .chemin {
      text-size-adjust: 16px;
    }

    .bulle {
      margin-top: 15px;
      width: 16vh;
      height: 25px;
    }

    .info_type {

      position: absolute;
      top: 32%;
      left: 30px;
      right: 30px;
    }
    .content_show {
      padding-bottom: 80px;
    }
}
