.monuments-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 12px;
}

.monument-card{
position: relative;

  a{
    text-align: center;
    font-size: 30px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    position: absolute;
    color:black;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }
}

.monument-card-picture{
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.grid-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 16px;
  margin: 16px 0;
  padding: 8px
}
