.menu-tab {
display: flex;
margin-bottom: 24px;
position: relative;
}

.title-tab{
  width: 100%;
  padding: 4px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;

}

.underline{
  background-color: $blue;
  color: white
}

.border-tabs{
  border-right: solid 1px $blue !important;
  border-left: solid 1px $blue !important;
}
